Package: com.iamjamieq.lockhomebutton
Name: LockHomeButton
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Locks your home button. 
Maintainer: 
Author: iamjamieq <jameslitvak@gmail.com>
Section: Tweaks
